<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrjtAula01.Properties.Settings.strConexao" connectionString="workstation id=BanjucasDkt.mssql.somee.com;packet size=4096;user id=naigol_SQLLogin_1;pwd=xag1jv2t8l;data source=BanjucasDkt.mssql.somee.com;persist security info=False;initial catalog=BanjucasDkt" />
    </connectionStrings>
</configuration>